<div class="grid grid-cols-4 h-full">

    <div class="col-span-4 lg:col-span-3 font-light text-3xl md:text-5xl xl:text-6xl text-left px-2 md:px-5 xl:px-10 space-y-5 md:space-y-10 my-auto">
        <p class="tracking-wide">I take pride in my attention to detail and my ability to deliver high-quality work on time and within budget.</p>

        <div>
            Born and raised in
        <span class="font-extrabold text-sky-600 uppercase">
            Ormoc City,<br>
            Philippines
        </span>
        </div>

    </div>

    <div class="col-span-4 lg:col-span-1 my-auto mx-auto ">


        <blockquote class="text-xl md:text-2xl italic font-extralight">
            <svg aria-hidden="true" class="w-10 h-10 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/></svg>
            <p>"I didn't have time to write a short letter, so I wrote a long one instead."</p>
            <p>- Mark Twain</p>
        </blockquote>
    </div>

</div>
