<div class="first-section grid grid-cols-4 border-solid border-4 border-[#1afe49] px-5 md:px-10 lg:px-20 shadow-lg">
  <%# COLUMNS 1 %>
  <%# 3D Avatar %>
  <div class="mr-auto my-auto xl:mt-5 xl:mb-5 rounded-full shadow-slate-600 shadow-lg w-20 md:w-32 lg:w-36 xl:w-44 h-20 md:h-32 lg:h-36 xl:h-44 items-center ">
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_NODCLWy3iX.json"  background="transparent"  speed="1"  class="w-20 md:w-32 lg:w-36 xl:w-44 h-20 md:h-32 lg:h-36 xl:h-44 rounded-full"  loop  autoplay></lottie-player>
  </div>

  <%# COLUMNS 2 %>
  <div class="col-span-3">
    <div class="grid grid-rows-2 text-center xl:text-left">
      <div class="py-5 xl:pt-10">
        <h1 class="text-xl lg:text-xl xl:text-4xl uppercase font-light tracking-tighter bg-transparent transition ease-in">christian jade buzon</h1>
        <code class="text-xs md:text-md lg:text-lg xl:text-xl">Ruby on Rails</code>
      </div>

      <div class="py-5 my-auto">
        <div class="grid grid-cols-3 sm-gap-2 lg:gap-4 text-xs lg:text-lg xl:text-xl">
          <%= link_to "home", root_path, class: "tracking-wider transition hover:scale-125 ease-in-out uppercase font-light cursor-crosshair" %>
          <div class="tracking-wider transition hover:scale-125 ease-in-out uppercase font-light cursor-crosshair">projects</div>
          <%= link_to "contact", contact_index_path, class: "tracking-wider transition hover:scale-125 ease-in-out uppercase font-light cursor-crosshair" %>
        </div>
      </div>

    </div>
  </div>
</div>
